.forget-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  padding: 15px;
  background: url(../assets/bgimage.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.forget-logo {
  align-self: flex-start;
  width: 40px;
  height: 40px;
}
#forget-logo {
  width: 100%;
  height: 100%;
}

.forget-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  width: 30%;
  background: url(../assets/navbg.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(136, 135, 135), -2px -2px 10px rgb(136, 135, 135);
}

.forget-heading {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  width: 100%;
  text-align: center;
  font-weight: 900;
  word-wrap: break-word;
  color: rgb(3, 3, 82);
}

.forget-p {
  word-wrap: break-word;
  width: 90%;
  text-align: center;
  color: rgb(3, 3, 82);
  font-size: 15px;
  font-weight: 700;
  padding-left: 2px;
  font-family: serif;
}

.forget-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  row-gap: 20px;
  width: 90%;
}
.forget-input {
  outline: none;
  border: none;
  width: 100%;
  color: rgb(3, 3, 82);
  padding: 20px 10px;
  background-color: transparent;
  border: 0.1px rgb(3, 3, 82) solid;
  border-radius: 5px;
}
.forget-input::placeholder {
  color: rgba(3, 3, 82, 0.644);
  font-size: 1.2em;
  font-weight: 500;
}
.forget-btn {
  background-color: rgb(3, 3, 82);
  border-radius: 5px;
  width: 100%;
  padding: 15px 10px;
  font-size: 30px;
  font-weight: 700;
  border: none;
  outline: none;
  color: aliceblue;
  cursor: pointer;
}
.forget-btn:hover {
  background-color:  rgb(138, 11, 11);
}

.forget-error-text {
  color: red;
  align-self: left;
  margin: 0;
}
@media screen and (max-width: 1500px) {
  .forget-wrap {
    width: 40%;
  }
}

@media screen and (max-width: 1200px) {
  .forget-wrap {
    width: 50%;
  }
  .forget-heading {
    font-size: 35px;
    font-weight: 800;
  }
}

@media screen and (max-width: 950px) {
  .forget-wrap {
    width: 75%;
  }
  .forget-form{
    width: 95%;
  }
  .forget-heading {
    font-size: 32px;
    font-weight: 700;
  }
  .forget-p {
    width: 95%;
    font-size: 14px;
    font-weight: 500;
  }
  .forget-input {
    padding: 18px 10px;
  }
  .forget-btn {
    padding: 12px 5px;
    font-size: 20px;
    font-weight: 600;
  }
}
@media screen and (max-width: 500px) {
  .forget-wrap {
    width: 90%;
  }
  .forget-heading {
    font-size: 28px;
    font-weight: 600;
  }
  .forget-p {
    font-size: 13px;
    font-weight: 400;
  }
  .forget-input {
    padding: 13px 8px;
  }
  .forget-btn {
    padding: 11px 5px;
    font-size: 16px;
  }

}
